@using BBCollection.BBObjects
@using BBCollection.DBHandling
@using FrontEnd2.Areas.Data
@using System;

<ListGroupItem>
    <Field IsHorizontal="true" Padding="Padding.IsAuto.OnAll">

        <FieldBody ColumnSize="ColumnSize.IsFull">
                <Table IsBorderless="true" IsFullWidth="true" IsHoverable="true">
                    <TableBody>
                        <TableRow  Style="vertical-align:middle; vertical-align:middle">
                            <TableRowCell Style="width:50px">
                                <FieldBody>
                                    <CheckEdit Checked="@Product._completed" CheckedChanged="@OnCheckedChanged" />
                                </FieldBody>
                            </TableRowCell>
                            <TableRowCell Style="width:60px">
                                <SelectEdit TValue="int" SelectedValue="selectedValue" SelectedValueChanged="OnSelectedValueChanged" Style="width:60px;">
                                    @{
                                        int numb = 0;
                                        @for (int i = 0; i < 100; i++)
                                        {
                                            <SelectItem Value="TempScalar">@(numb++)</SelectItem>
                                        }
                                    }
                                </SelectEdit>
                            </TableRowCell>
                            <TableRowCell Style="vertical-align:middle">
                                <Text Style="width:200px" Float="Float.Left"> @Product._productName  @Product._amount</Text>
                            </TableRowCell>
                            <TableRowCell Style="width:200px; vertical-align:middle">
                                <SelectList Data="@data"
                                            TextField="@((item)=>item.textField)"
                                            ValueField="@((item)=>item.valueField)"
                                            SelectedValue="@selectedAmount"
                                            SelectedValueChanged="@AmountChanged" />
                            </TableRowCell>
                            <TableRowCell Style="width:110px; vertical-align:middle">
                                <DateEdit Placeholder="Change the date" Date="Convert.ToDateTime(Product._timeAdded)" DateChanged="OnDateChanged" />
                            </TableRowCell>
                        </TableRow>
                    </TableBody>
                </Table>
        </FieldBody>
    </Field>
</ListGroupItem>

@code{
    public int selectedValue = 0;
    public int scalar;
    public string TempScalar;
    static string[] Amount = { "Full", "Almost Full", "Almost Empty"  };
    IEnumerable<AmountRemaining> data = Enumerable.Range( 1, Amount.Length ).Select( x => new AmountRemaining { textField = Amount[x - 1], valueField = x } );

    object selectedAmount { get; set;} = 1;

    [Parameter] public Product Product { get; set; }

    [Parameter] public Action<bool> StatusChanged { get; set; }

    //[Parameter] public Action<bool> ShouldSave { get; set; }

    DateTime? selectedDate;

    void OnDateChanged( DateTime? date)
    {

        Product._timeAdded = date.ToString();
        Product._saveProduct = true;
        shouldSave(true);
    }

    void AmountChanged( object newValue )
    {

        selectedAmount = newValue;
        Product._state = Amount[int.Parse(newValue.ToString()) - 1];
        StateHasChanged();
        Product._saveProduct = true;
        shouldSave(true);
    }

    List<string> ItemState = new List<string>() { "Full", "Almost Full", "Half Full", "Almost Empty" };

    public void OnCheckedChanged(bool isChecked)
    {
        Product._completed = isChecked;

        StatusChanged?.Invoke(isChecked);
    }

    public void shouldSave(bool isChecked)
    {
        StatusChanged?.Invoke(isChecked);
    }

    public void OnSelectedValueChanged(int value)
    {

        selectedValue = value;
        Product._amountleft = selectedValue;
        Product._saveProduct = true;
        shouldSave(true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if (firstRender)
        {
            selectedValue = Product._amountleft;
            selectedAmount = Array.FindIndex(Amount,row => row.Equals(Product._state))+1;
            StateHasChanged();
        }

    }
}
