@using System.Globalization
@using FrontEnd2.StoreApi.ApiNeeds
@using FrontEnd2.Data

<h3>Search A Product</h3>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="search">Søg Efter En Råvare!</label>
        <input type="text" id="search" class="form-control" placeholder="Råvare.." @onkeyup="@((e) => KeyPressed(e))" @bind="searchBox"/>
    </div>
    <div class="form-group" col-md-6>
        <label for="minPriceB">Minimum Price</label>
        <input type="number" class="form-control" placeholder="Min Price" @bind="minPrice" />
    </div>
    <div class="form-group" col-md-6>
        <label for="maxPriceB">Maximum Price</label>
        <input type="number" class="form-control" placeholder="Max Price" @bind="maxPrice" />
    </div>
    <button type="button" class="btn btn-success" @onclick="@(() => SearchForProducts())">Find Mig En Spise!</button>

</div>

    @if (_viewProducts == true)
    {
<div class="container-fluid">
    <p>hej 2: @counter</p>
    <p>you want: @searchBox</p>
    @for (int i = 0; i <= resultProductQuery.Count-4; i+=4)
    {
        @if (i >= resultProductQuery.Count)
        {
            break;
        }
        else
        {

        <div class="row">
            <div class="col-sm-3 card-body">
                <img src="@resultProductQuery[i].img" class="card-img-top" style="width: 30px" >
                <h4 class="card-title" style="font-weight:bold">@resultProductQuery[i].title</h4>
                <p class="card-text">@resultProductQuery[i].price DKK</p>
                <button @onclick="(()=>AddToShoppinglist(resultProductQuery[i]))" class="btn btn-success">Læg Til Shoppinglisten</button>
            </div>
            <div class="col-sm-3 card-body">
                <img src="@resultProductQuery[i+1].img" class="card-img-top" style="width: 30px">
                <h4 class="card-title">@resultProductQuery[i+1].title</h4>
                <p class="card-text">@resultProductQuery[i+1].price DKK</p>
                <button @onclick="(()=>AddToShoppinglist(resultProductQuery[i+1]))" class="btn btn-success">Læg Til Shoppinglisten</button>
            </div>
            <div class="col-sm-3 card-body">
                <img src="@resultProductQuery[i+2].img" class="card-img-top" style="width: 30px">
                <h4 class="card-title" style="font-weight:bold">@resultProductQuery[i+2].title</h4>
                <p class="card-text">@resultProductQuery[i+2].price DKK</p>
                <button @onclick="(()=>AddToShoppinglist(resultProductQuery[i+2]))" class="btn btn-success">Læg Til Shoppinglisten</button>
            </div>
            <div class="col-sm-3 card-body">
                <img src="@resultProductQuery[i+3].img" class="card-img-top" style="width: 30px">
                <h4 class="card-title" style="font-weight:bold">@resultProductQuery[i+3].title</h4>
                <p class="card-text">@resultProductQuery[i+3].price DKK</p>
                <button @onclick="(()=>AddToShoppinglist(resultProductQuery[i+3]))" class="btn btn-success">Læg Til Shoppinglisten</button>
            </div>
        </div>
        }
    }
</div>
    }

@code {
    ShoppinlistFunctionality func = new ShoppinlistFunctionality("api/Shoppinglist");
    HttpResponseMessage response = new HttpResponseMessage();

    string searchBox;
    string written;
    double minPrice;
    double maxPrice;
    double MaxPrice {
        get
        {
            if (maxPrice <= 0)
            {
                maxPrice = double.MaxValue;
            }
            return maxPrice;
        }
        set
        {
            if (value <= 0)
            {
                maxPrice = double.MaxValue;
            } else
            {
                maxPrice = value;
            }
        }
    }
    BearerAccessToken bearerAccessToken = new BearerAccessToken("fc5aefca-c70f-4e59-aaaa-1c4603607df8");
    SallingAPILink linkMaker = new SallingAPILink();
    bool _viewProducts = false;
    int counter = 0;
    string save;

    SallingAPIProductSuggestions productSuggestions = new SallingAPIProductSuggestions();
    List<SallingAPIProduct> resultProductQuery = new List<SallingAPIProduct>();
    Filter<SallingAPIProduct> productFilter = new Filter<SallingAPIProduct>();

    async void AddToShoppinglist(SallingAPIProduct item)
    {
        response = await func.AddProductToList(item.title, item.description, item.price);
    }


    private void KeyPressed(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchForProducts();
        }
    }

    private void SaveInput(string input) {
        searchBox = input;
    }


    private void SearchForProducts()
    {
        save = searchBox;

        if (searchBox != "")
        {
            string apiLink = linkMaker.GetProductAPILink(searchBox);

            OpenHttp<SallingAPIProductSuggestions> openHttp = new OpenHttp<SallingAPIProductSuggestions>(apiLink, bearerAccessToken.GetBearerToken());

            productSuggestions = openHttp.ReadAndParseAPISingle();

            productSuggestions.Suggestions.Sort((a, b) => a.price.CompareTo(b.price));

            resultProductQuery = productFilter.GetFiltered(productSuggestions.Suggestions, p => p.price > minPrice & p.price < MaxPrice);

            _viewProducts = true;
            Console.WriteLine(counter);
            counter++;
        }
    }

}
