@page "/"
@using BBCollection.BBObjects;
@using Newtonsoft.Json;
@using FrontEnd2.Data;

@inject HttpClient  Http


<p> YEET</p>

<p>You are in:</p>
<p>
    Continent: @ipItem.continent_name <br />
    Country: @ipItem.country_name <br />
    Region: @ipItem.region_name <br />
    City: @ipItem.city <br />
    Zip: @ipItem.zip <br />
    Longtitude: @ipItem.longitude <br />
    Lantitude: @ipItem.latitude <br />
</p>

@foreach (var recipe in recipeData)
{
    <p>recipe: @recipe._Name</p>
}

@code{
    string printRecipe = "hej hej";
    List<Recipe> recipeData = new List<Recipe>();
    GetIP getIP = new GetIP();
    IpItem ipItem = new IpItem();
    
    


    protected override async Task OnInitializedAsync() {

        printRecipe = await Http.GetStringAsync("https://localhost:44325/api/recipe");

        //recipeData = JsonConvert.DeserializeObject<List<Recipe>>(printRecipe);

        ipItem = getIP.GetIpData();
    }
    //https://localhost:44325/api/recipe
}