@page "/shoppinglist"
@using Newtonsoft.Json;
@inject HttpClient Http
@using FrontEnd2.Data;



<h1>Shopping List</h1>

@if (ListFunc.itemList == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="container">
        <div class="row col-md-12">
            <table class="ShoppinglistTable table-bordered">
                <colgroup>
                    <col style="width: 100px" />
                    <col style="width: 180px" />
                    <col style="width: 100px" />
                    <col style="width: 80px" />
                    <col style="width: 80px" />
                    <col style="width: 80px" />
                </colgroup>
                <thead>
                    <tr class="text-center">
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Price For Each</th>
                        <th>Ammount</th>
                        <th>Combined price</th>
                        <th>Remove / To Storage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in ListFunc.itemList)
                    {
                        <tr class="text-center">
                            <td>@items.Name</td>
                            <td>@items.Amount</td>
                            <td>@items.StoreName - @items.Price.ToString() kr</td>
                            <td>
                                <div class="text-center">
                                    <button @onclick="(() => DecrementAmount(items.Id))"><i class="oi oi-minus"></i></button>
                                    @items.AmountOfItem
                                    <button @onclick="(() => IncrementAmount(items.Id))"><i class="oi oi-plus"></i></button>
                                </div>
                            </td>
                            <td>@(items.Price*items.AmountOfItem)</td>
                            <td>
                                <div class="text-center">
                                    <button @onclick="(() => AddProductToStorage(items.Id))"><i class="oi oi-basket"></i></button>
                                    <button @onclick="(() => DeleteProduct(items.Id))"><i class="oi oi-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            @if (ListFunc.itemList != null)
            {
                <input placeholder="A new Product" @bind="@newProduct" />
                <button @onclick="AddProduct">Create</button>
            }
        </div>
        <div class="buttom-list">
            <button @onclick="AddAlltoStorage"><i class="oi oi-basket">Add All To Storage</i></button>
            <i>(@ListFunc.CompletePrice() kr)</i>
        </div>
        <div>
            <button @onclick="DeleteAll"><i class="oi oi-trash">Empty Shoppinglist</i></button>
        </div>
    </div>
}


@code{
    string productString;
    string newProduct;
    ShoppinlistFunctionality ListFunc = new ShoppinlistFunctionality("api/Shoppinglist");
    HttpResponseMessage responseMessage = new HttpResponseMessage();
    int ammount;

    protected void IncrementAmount(int id)
    {
        foreach (var item in ListFunc.itemList)
        {
            if (item.Id == id)
            {
                item.AmountOfItem++;
            }
        }
    }

    protected void DecrementAmount(int id)
    {
        foreach (var item in ListFunc.itemList)
        {
           
            if (item.Id == id && item.AmountOfItem > 0)
            {
                item.AmountOfItem--;
            }
        }
    }

    protected async override Task OnInitializedAsync()
    {
        responseMessage = await ListFunc.GetProductsOnStart();
    }

    private void AddAlltoStorage()
    {
        foreach (var item in ListFunc.itemList)
        {
            ListFunc.AddProductToStorage(item.Id, "api/Storage");
        }
        ListFunc.itemList.Clear();
    }

    private void DeleteAll()
    {
        //This needs to go to backend
        ListFunc.itemList.Clear();
    }

    private async void AddProduct()
    {
        CoopProduct newItem = new CoopProduct() { Navn = newProduct, Navn2 = "", Pris = 0.00 };

        newProduct = string.Empty;

        responseMessage = await ListFunc.AddProductToList(newItem.Navn, newItem.Navn2, newItem.Pris);
    }

    private async void DeleteProduct(int id)
    {
        responseMessage = await ListFunc.DeleteProduct(id);
    }

    private async void AddProductToStorage(int id)
    {
        ListFunc.AddProductToStorage(id, "api/Storage");
        responseMessage = await ListFunc.DeleteProduct(id);

        //ListFunc.itemList.Remove(ListFunc.itemList.First(x => x.Id == id));
    }

    private async void SaveList()
    {
        productString = JsonConvert.SerializeObject(ListFunc.itemList);

        string stuff = await Http.GetStringAsync("https://localhost:44325/api/Shoppinglist/5/" + productString);


        //await Http.PostAsync("https://localhost:44325/api/Shoppinglist/save" + productString, new StringContent(productString));

        //var stringContent = new StringContent(productString);

        //HttpResponseMessage result = await Http.PostAsync("https://localhost:44325/api/Save", stringContent);
    }
}
