@page "/storage"

@using BBCollection.BBObjects;
@using Newtonsoft.Json;
@using FrontEnd2.Data;


@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationFunctionallity uf


<h1>My fridge</h1>

@if (email != null)
{
    @if (ListFunc.CombinedList == null)
    {
        <p>
            <em>Your fridge is empty</em>
        </p>
    }
    else
    {
    @* Storage table *@
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:10%">ID</th>
                            <th style="width:30%">Product</th>
                            <th style="width:20%">Amount</th>
                            <th style="width:20%">Amount remaining</th>
                            <th style="width:10%">Date added</th>
                            <th style="width:10%">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in ListFunc.CombinedList)
                        {
                            <tr>
                                <td data-th="ID">@items._id</td>
                                <td data-th="Product">@items._productName</td>
                                <td data-th="Amount">
                                    <input type="number" id="number" value="@items._amountleft" />
                                    @items._amount
                                </td>
                                <td data-th="Amount remaining">
                                    <div class="btn-group show-on-hover">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            @items._state <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            @foreach (var State in ItemState)
                                            {
                                                <li><button class="btn btn-block bg-light dropdownListStrorage rounded-0" @onclick="(() => ChangeItemState(items, State))">@State</button></li>
                                            }
                                        </ul>
                                    </div>
                                </td>
                                <td data-th="Date added">@items._timeAdded</td>
                                <td data-th="Delete">
                                    <div>
                                        <button class="btn btn-danger btn-sm" @onclick="(() => ChangeItemAmout(items))"><i class="oi oi-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @* Buttons *@
        <div class="row">

            @*<div class="col-sm-4 of">
                <button class="btn btn-block btn-light recipeDivDisplay rounded-0" @onclick="(() =>ListFunc.AddFuncList())">Save storage</button>
            </div>*@
            <div class="col-sm-4">
                <button class="btn btn-block btn-light recipeDivDisplay rounded-0" @onclick="(() =>ListFunc.DeleteFuncList())">Delete storage</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-block btn-light recipeDivDisplay rounded-0" @onclick="(() => Search())">Empty my Fridge</button>
            </div>
        </div>
    </div>

    @* Recipe display *@
    <div class="container-fluid top-margin">
        @if (recpies == null)
        {
            <p>Sorry, you dont have enough products</p>
        }
    <div class="row">
        <div class="col-3">
            @if (viewTitle == true)
            {
                <h3> You can make the following </h3>
                <button class="close float-left" @onclick="(() => closeRecipies())"><i class="oi oi-x"></i> </button>
                <ul class="recipeListDisplay">
                    @foreach (var rep in recpies)
                    {
                        <li class="no-bullets"> <button type="button" class="btn btn-block btn-light recipeDivDisplay rounded-0" @onclick="(() => retriveInfo(rep._recipie._recipeID))"> @rep._recipie._Name </button> </li>
                    }
                </ul>
            }
        </div>
        @if (viewIngredients == true)
        {
            <div class="col-2 offset-2">

                <table class="table-bordered ingredientsTable">
                    <colgroup>
                        <col style="width: 100px" />
                        <col style="width: 150px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th> Amount </th>
                            <th> Name </th>
                        </tr>
                    </thead>
                    <tbody>
                        @(found = true)
                        @foreach (WeightedRecipies rep in recpies)
                        {
                            @if (found == true)
                            {
                                @foreach (Product match in rep.products)
                                {
                                    @for (int i = 0; i < ingredients.Count; i++)
                                    {
                                        matchFound();
                                        <tr>
                                            <td>
                                                @recipeAmount[i] @ingredients[i]._unit
                                            </td>

                                            @if (ingredients[i]._ingredientName.Contains(match._productName))
                                            {
                                                <td style="background-color:green">@ingredients[i]._ingredientName</td>
                                            }

                                            else
                                            {
                                                <td style="background-color:red"> @ingredients[i]._ingredientName</td>
                                            }
                                        </tr>
                                    }
                                }
                            }

                        }
                        <tr>
                            <td colspan="2" class="text-sm-center">
                                <div class="valueClass text-center">
                                    <div class="value-button" id="increase" @onclick="(() => decrementRecipeAmount())" value="Increase @value"> - </div>
                                    <input type="number" id="number" value="@recipePerPerson" />
                                    <div class="value-button" id="decrease" @onclick="(() => incrementRecipeAmount())" value="Decrease @value"> + </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <h3> @recipeName </h3>
                <p> @recipeDescription </p>
            </div>
          }
        </div>
    </div>
    }
 }
    else
    {
        <p>You need to be logged in to see your storage</p>
    }


@code{
    #region Fields
    string productString, newProduct, _headingText, email, userId, testvalue, recipeDescription, recipeName;

    float recipePerPerson;

    int value;
    int x;

    bool found = true;
    bool viewTitle = false;
    bool viewIngredients = false;

    ShoppinlistFunctionality ListFunc = new ShoppinlistFunctionality("api/Storage");
    HttpResponseMessage responseMessage = new HttpResponseMessage();


    List<float> recipeAmount = new List<float>();
    List<Ingredient> ingredients = new List<Ingredient>();
    List<WeightedRecipies> recpies = new List<WeightedRecipies>();
    List<Recipe> _recpies = new List<Recipe>();
    List<string> ItemState = new List<string>() { "Full", "Almost Full", "Half Full", "Almost Empty" };

    private delegate bool compareWR(WeightedRecipies r1, WeightedRecipies r2);
    #endregion

    #region Storage_Methods
    //Storage functionalities

    public async void ChangeItemState(Product item, string state)
    {
        int index = FindIdex(item);
        ListFunc.CombinedList[index]._state = state;
        item._state = state;

        productString = JsonConvert.SerializeObject(item);

        //ChangeItem(item);

        await ListFunc.ChangeItem(productString);
    }

    public int FindIdex(Product item)
    {
        return ListFunc.CombinedList.FindIndex(ind => ind.Equals(item));
    }

    public async void ChangeItemAmout(Product item)
    {
        int index = FindIdex(item);
        int left = ListFunc.CombinedList[index]._amountleft;

        if (left >= 2)
        {
            ListFunc.CombinedList[index]._amountleft--;
            productString = JsonConvert.SerializeObject(item);
            await ListFunc.ChangeItem(productString);
        }
        else
        {
            await ListFunc.DeleteItem(item._id);
        }
    }

    private async void AddProduct()
    {
        if (newProduct != null)
        {
            Product newItem = new Product()
            {
                _productName = newProduct,
                _amount = "",
                _state = "Full",
                _id = "2000000000045000",
                _amountleft = 1,
                _timeAdded = DateTime.Now.ToString()
            };

            newProduct = string.Empty;

            ListFunc.itemList.Add(newItem);
            //responseMessage = await ListFunc.AddProductItem(newItem, userId);
        }

    }

    private async void DeleteProduct(string id)
    {
        bool isFound = false;
        foreach (var item in ListFunc.CombinedList)
        {
            if (item._id == id && item._amountleft != 1)
            {
                item._amountleft--;

                productString = JsonConvert.SerializeObject(item);

                await ListFunc.ChangeItem(productString);

                isFound = true;

                break;
            }
        }

        if (isFound == false)
        {
            await ListFunc.DeleteItem(id);
        }
    }
    #endregion

    #region OnInit_async_Method
    // On start up

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetLocalSession();
            localStorage.Changed += (sender, e) =>
            {
                Console.WriteLine($"Value for key {e.Key} changed from {e.OldValue} to {e.NewValue}");
            };

            //if (email != null)
            //{
            //    gottenData = await Http.GetStringAsync("https://localhost:44325/api/Login/" + email + "S");
            //}
            userId = email;
            responseMessage = await ListFunc.GetStorageOnStart(email);


            StateHasChanged();
        }

    }

    async Task GetLocalSession()
    {
        email = await localStorage.GetItemAsync<string>("Email");
    }

    protected async override Task OnInitializedAsync()
    {
        userId = email;
        responseMessage = await ListFunc.GetStorageOnStart(userId);
    }
    #endregion

    #region Recipe_Display_Methods
    void matchNotFound()
    {
        found = true;
    }

    void matchFound()
    {
        found = false;
    }

    void clear()
    {
        ingredients.Clear();
        recipeAmount.Clear();
    }

    void closeRecipies()
    {
        viewTitle = false;
        viewIngredients = false;
    }

    void retriveInfo(int ID)
    {
        Recipe show = _recpies.First(x => x._recipeID == ID);
        recipeDescription = show._description;
        recipeName = show._Name;
        recipePerPerson = show._PerPerson;

        found = true;
        if (show._ingredientList == null)
        {
            foreach (var item in show._ingredientList)
            {
                ingredients.Add(item);
                recipeAmount.Add(item._amount);
            }
        }
        else
        {
            clear();
            foreach (var item in show._ingredientList)
            {
                x++;
                ingredients.Add(item);
                recipeAmount.Add(item._amount);
            }
        }
        viewIngredients = true;
        //viewAddToshoppinglist = true;
    }

    void incrementRecipeAmount()
    {
        for (int i = 0; i < recipeAmount.Count; i++)
        {
            found = true;
            if (recipeAmount[i] != 0)
            {
                recipeAmount[i] = (recipeAmount[i] / recipePerPerson) * (recipePerPerson + 1F);
                value++;
            }
        }
        recipePerPerson += 1;
    }


    void decrementRecipeAmount()
    {
        if (recipePerPerson >= 2)
        {
            for (int i = 0; i < recipeAmount.Count; i++)
            {
                found = true;
                if (recipeAmount[i] != 0)
                {
                    recipeAmount[i] = (recipeAmount[i] / recipePerPerson) * (recipePerPerson - 1F);
                    value--;
                }
            }
            recipePerPerson -= 1;
        }
    }
    #endregion

    #region EmptyFridge_Methods


    private async Task<List<WeightedRecipies>> FindValidRecipies(List<Product> storageInventory)
    {
        //await Search();
        List<Recipe> ValidRecipies = new List<Recipe>();
        bool breakFlag;
        List<Product> tester = new List<Product>() { new Product("1", "bacon", "full", 1d, "image", "lidl") };
        //string id, string productName, string amount, double price, string image, string storeName
        foreach (Recipe r in _recpies)
        {
            breakFlag = false;
            //foreach (Product p in storageInventory)
            foreach (Product p in tester)
            {
                foreach (Ingredient i in r._ingredientList)
                {
                    if (compareIngrdientAndProduct(i, p))//kan godt være man bliver nødtil at lave en eller anden form for kryds referance
                    {
                        ValidRecipies.Add(r);
                        breakFlag = true;
                        break;
                    }
                }
                if (breakFlag)
                {
                    break;
                }
            }

        }

        return GenerateWeightedRecepies(ValidRecipies, storageInventory); ;
    }

    private List<WeightedRecipies> GenerateWeightedRecepies(List<Recipe> recipes, List<Product> storageInventory)
    {
        List<Product> tester = new List<Product>() { new Product("1", "bacon", "full", 1d, "image", "lidl") };
        List<WeightedRecipies> returnRecipies = new List<WeightedRecipies>();
        foreach (Recipe r in recipes)
        {
            returnRecipies.Add(new WeightedRecipies(r));
        }

        foreach (WeightedRecipies w in returnRecipies)
        {
            //foreach (Product p in storageInventory)
            foreach (Product p in tester)
            {
                foreach (Ingredient i in w._recipie._ingredientList)
                {
                    if (compareIngrdientAndProduct(i, p))
                    {
                        w.MatchFound(i,p);
                    }
                }

            }
        }
        return returnRecipies;
    }

    private bool compareIngrdientAndProduct(Ingredient ingrdient, Product product)
    {
        return ingrdient._ingredientName.Contains(product._productName);
    }

    protected async Task Search()
    {
        string printRecipe;

        printRecipe = await Http.GetStringAsync("https://localhost:44325/api/recipe?recipeTitle=" + " ");
        _recpies = JsonConvert.DeserializeObject<List<Recipe>>(printRecipe);

        compareWR test1 = new compareWR(CompareComplexity);
        compareWR test2 = new compareWR(CompareMatches);

        //recpies = Sort(FindValidRecipies(ListFunc.itemList).Result, test1);
        recpies = FindValidRecipies(ListFunc.itemList).Result;
        foreach (WeightedRecipies wr in recpies)
        {
            testvalue = testvalue + wr._recipie._Name + " ? ";
        }
        viewTitle = true;
    }

    private static bool CompareComplexity(WeightedRecipies r1, WeightedRecipies r2)
    {
        return r1.complexity > r2.complexity;
    }

    private static bool CompareMatches(WeightedRecipies r1, WeightedRecipies r2)
    {
        return r1.matchingIngrdientsNum > r2.matchingIngrdientsNum;
    }

    private static List<WeightedRecipies> Sort(List<WeightedRecipies> recipies, compareWR CompareWR)
    {
        WeightedRecipies[] arr = recipies.ToArray();

        int i, j;
        WeightedRecipies temp;
        bool swapped;
        for (i = 0; i < arr.Length - 1; i++)
        {
            swapped = false;
            for (j = 0; j < arr.Length - i - 1; j++)
            {
                if (CompareWR(arr[j], arr[j + 1]))
                {
                    temp = arr[j];
                    arr[j] = arr[j + 1];
                    arr[j + 1] = temp;
                    swapped = true;
                }
            }

            if (swapped == false)
                break;
        }

        return arr.ToList();
    }
    #endregion
}
